<div id="pitch">
	<div class="drop-target top"></div>
	<div id="card">
		<div id="content-wrapper">
			<div id="content">
				Marfa meh Portland pop-up, forage blue bottle chambray. Freegan pickled small batch, helvetica ugh keffiyeh photo booth gluten-free direct ...
			</div>
		</div>
	</div>

	<div class="drop-target left-corner"></div>
	<div class="drop-target right-corner"></div>
</div>