<div id="pitch">
	<div class="drop-target top"></div>

	<div id="card">
		<div id="content-title">
			<em>Card Title</em>
		</div>
		<div id="content-wrapper">
			<div id="content">
				Marfa meh Portland pop-up, forage blue bottle chambray. Freegan pickled small batch, helvetica ugh keffiyeh photo booth gluten-free direct ...
			</div>
		</div>
	</div>
	
	<div class="drop-target left"></div>
	<div class="drop-target left-bottom"></div>
	
	<div class="drop-target right"></div>
	<div class="drop-target right-bottom"></div>
</div>
<% content_for :script do %>
	<script type="text/javascript">
	$(document).ready(function() {
		Pitch.init("nav","#card");

		$(window).resize(function(){
			Pitch.resizeParent();		
		});
	});
	</script>
<% end %>