<div id="pitch">
	<div class="drop-target top"></div>


 	<!-- ko if: currentCard() -->
	<div id="card">
		<div id="content-title">
			<em>Card Title</em>
		</div>
		<div id="content-wrapper">
			<div id="card-content" data-bind="html: currentCard().excerpt"></div>
		</div>
	</div>
	<!-- /ko -->

	<div class="drop-target left"></div>
	<div class="drop-target left-bottom"></div>

	<div class="drop-target right"></div>
	<div class="drop-target right-bottom"></div>

</div>
<% content_for :script do %>
	<script type="text/javascript">
	var CardModel = function(cardId, excerpt){
		var self = this;
		self.cardId = cardId;
		self.excerpt = excerpt;
	};

	var CardViewModel = function(data){
		var self = this;

		self.cards = ko.observableArray();
		self.currentCard = ko.observable();

		for(var i = 0; i < data.cards.length; i ++){
			var cardData = data.cards[i];
			var model = new CarModel(cardData.card_id, cardData.excerpt);

			self.cards.push(model);

			if(i == 0){
				self.currentCard(self.cards()[0]);
			}
		}
	};

	{
		init : function(data){
			Cards.allCards = data;
		},
		fetch : function(){


		},
		setCurrentCard : function(){


		},
		submit : function(vote){

			if(vote == "no" || vote == "yes"){
				var data = {
					"type" : vote,
					"card_id" : Cards.current.card_id
				};
			}
		}
	};


	$(document).ready(function() {

		PitchCardView.init("nav", "#card", Cards.submit);

		$(window).resize(function(){
			PitchCardView.resizeParent();
		});

	});
	</script>
<% end %>