@import "bootstrap/_mixins";

#pitch {
    -webkit-transition: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;

    .drop-target{
        position:absolute;
        height:1%;
        opacity:.6;
        z-index:20;
        &.top{
            left:1%;
            width:98%;
            top:0;
        }

        &.left{
            left:0;
            height:100%;
            width:1%;
        }

        &.left-bottom{
            bottom:0;
            left:1%;
            width:49%;
        }

        &.right{
            right:0;
            height:100%;
            width:1%;
        }

        &.right-bottom{
            bottom:0;
            right:1%;
            width:49%;
        }
    }

    #card {
        width:75%;
        max-width:240px;

        z-index:10;
        background:#FFF;

        -webkit-box-shadow: 0 10px 10px rgba(0,0,0, 0.7);
        -moz-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.7);
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.7);

        border-radius:5px;



        &.maybe{
            #content-title{
                background:#6EC3CC;
            }
        }

        &.yes{
            #content-title{
                background:green;
            }
        }

        &.no{
            #content-title{
                background:red;
            }
        }

        #content-title{
            background:#ccc;
            padding:5px;
            font-size:1.5em;
            color:#FFF;
            border-radius:5px 5px 0 0;
        }

        #content-wrapper{
            margin:20px 10px;
            overflow-x:hidden;
            overflow-y:auto;
            height:80%;
            #card-content{
                font-size:1.5em;
                line-height:1.5em;
            }
        }
    }
}
