#nav-bar-wrapper{
	height:40px;
	width:100%;
	background:#144EF2;
	position:fixed;
	z-index:100;

	.center{
		margin-left: auto;
		margin-right:auto;
		width:300px;
		height:40px;
	}

	#nav-title{
		color:#F4F7D9;
		font-size:2em;
		text-align:center;
		padding:0;
		margin:0;
		text-decoration:none;
		color:#F4F7D9 !important;
	}

	.link-icon{
		color:#fff;
		text-decoration:none;
		font-size:20px;
		height:100%;
		vertical-align:middle;

	}
}