#nav-bar-wrapper{
	height:40px;
	width:100%;
	background:#417378;
	position:fixed;
	z-index:100;

	.center{
		margin-left: auto;
		margin-right:auto;
		width:320px;
		padding: 5px 0px;
		position:relative;
		height:40px;
	}

	h1{
		color:#F4F7D9;
		font-size:2em;
		text-align:center;
		width:100px;
		position:absolute;
		left:110px;
		top:0;
		padding:0;
		margin:0;

		a{
			text-decoration:none;
			color:#F4F7D9 !important;
		}
	}
}