@import "bootstrap/_mixins";

#pitch {
	position:relative;
	top:60px;
	width:100%;
	
	-webkit-transition: translate3d(0,0,0);
	-webkit-backface-visibility: hidden;

	.drop-target{
		position:absolute;
		height:20px;
		opacity:.6;
		z-index:20;
		&.top{
			width:100%;
			top:0;
			left:0;

			&.pep-dpa
			{ 
				background: yellow 
			}
		}
		&.left-corner{
			bottom:0;
			left:0;
			width:50%;
			&.pep-dpa
			{ 
				background: red 
			}
		}
		&.right-corner{
			bottom:0;
			right:0;
			width:50%;

			&.pep-dpa 
			{ 
				background: green 
			}
		}
		

	}

	#card {
		width:75%;
		max-width:240px;
		border:solid 2px #BBB;
		padding:20px 10px;			
		z-index:10;
		
		background:#FFF;
		@include border-radius(5px);

		#content-wrapper{
			overflow-x:hidden;
			overflow-y:auto;
			height:80%;
			#content{
				font-size:1.5em;
				line-height:1.5em;
			}
		}
	}
}
