@import "bootstrap/_mixins";

#pitch {
	position:relative;
	top:40px;
	width:100%;
	
	-webkit-transition: translate3d(0,0,0);
	-webkit-backface-visibility: hidden;

	.drop-target{
		position:absolute;
		height:1%;
		opacity:.6;
		z-index:20;
		&.top{
			left:1%;
			width:98%;
			top:0;

			/*
			&.pep-dpa{ 
				background: yellow 
			}
			*/
		}

		&.left{
			left:0;
			height:100%;
			width:1%;
			/*
			&.pep-dpa{ 
				background: red 
			}
			*/
		}

		&.left-bottom{
			bottom:0;
			left:1%;
			width:49%;
			/*
			&.pep-dpa{ 
				background: red 
			}
			*/
		}

		&.right{
			right:0;
			height:100%;
			width:1%;
			/*
			&.pep-dpa{ 
				background: green 
			}
			*/
		}

		&.right-bottom{
			bottom:0;
			right:1%;
			width:49%;
			/*
			&.pep-dpa { 
				background: green 
			}
			*/
		}
	}

	#card {
		width:75%;
		max-width:240px;
		border:solid 2px #BBB;
		padding:20px 10px;			
		z-index:10;
		
		background:#FFF;
		@include border-radius(5px);

		#content-wrapper{
			overflow-x:hidden;
			overflow-y:auto;
			height:80%;
			#content{
				font-size:1.5em;
				line-height:1.5em;
			}
		}
	}
}
